html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

#cards {
    background-image: url('/src/img/assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

.logo {
    width: 4rem;
    filter: drop-shadow(0px 0px 5px gray);
    margin-right: 0.5vw;
}
.logo-small {
    width: 3rem;
    filter: drop-shadow(0px 0px 5px gray);
    margin-right: 0.5vw;
}

.navbar-collapse {
    flex-direction: row-reverse;
}

.linea-sombreada {
    margin: 0px;
}

.bg-dark {
    background-color: black;
}

.text-header {
    width: 15rem;
}

#carouselExampleCaptions {
    margin-top: 5vw;
}

.fondo-gris-trasparente {
    FONT-WEIGHT: 200;
    width: 60%;
    padding: 20px;
    border: 1px solid rgb(121 121 121);
    background-color: rgb(0 0 0 / 63%);
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 5%;
}

#carouselExampleCaptions {
    margin-bottom: 2%;
}

:target::before {
    content: "";
    display: block;
    height: 80px;
    margin: 10px 0 0;
}

#quienes-somos {
    color: white
}

.mapa {
    border-radius: 100%;
    filter:drop-shadow(2,5,2)
}
.btnWA {
    margin: 0 auto;
    margin-top: 20px;
    background-color: #198754;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    width: 5rem;
    justify-content: space-evenly;
    padding: 5px;
}

.btnWA p {
    margin-bottom: 0;
}

.marco {
    padding: 20px;
    border: 2px solid white;
}
#contactenos{
    color:white
}

.footer {
    background-color: rgb(3, 3, 52);
    color: white;
    padding: 1rem;
    margin-top: 3rem;
}

.container-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.container-footer a {
    color: white;
    text-decoration: none;
}

.container-footer a:hover {
    color: rgb(101, 101, 101);
}

.container-footer h5 {
    color: white;
}
.fixed-whatsapp {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    background-color: #198754;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border: none;
    border-radius: 100%; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
}

.fixed-whatsapp img{
    width: 2rem;
}
@media screen and (max-width: 768px) {
    .fondo {
        position: fixed;
        left: 100px;
        padding-top: 12%;
    }
    .footer {
        text-align: center;
    }
}
.text-style {
    position: relative;
    display: inline-block;
    color: black;
    z-index: 1; 
}

.text-style::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: white; 
    filter: blur(30px); 
    z-index: -100;
    pointer-events: none;
}