html{
    scroll-behavior: smooth;
}
#cards{
    background-image: url('/src/img/background.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}
.logo{
    width: 6vw;
    filter: drop-shadow(0px 0px 5px gray);
    margin-right: 0.5vw;
}
.navbar-collapse{
    flex-direction: row-reverse;
    height: 8vw;
}
.linea-sombreada{
    margin: 0px;
}
.bg-dark{
    background-color: black;
}
.text-header{
    width: 30%;
}
#carouselExampleCaptions{
    margin-top: 5vw;
}
.fondo-gris-trasparente{
    FONT-WEIGHT: 200;
    width: 60%;
    padding: 20px;
    border: 1px solid rgb(121 121 121);
    background-color: rgb(0 0 0 / 63%);
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 5%;
}
#carouselExampleCaptions{
    margin-bottom: 2%;
}
/* Agrega un espacio adicional al principio del área de desplazamiento */
:target::before {
    content: "";
    display: block;
    height: 105px; /* Ajusta esta altura según la altura de tu navbar */
    margin: 10px 0 0; /* Ajusta este margen para que coincida con la altura del navbar */
  }
  #quienes-somos{
    color:white
  }
  .mapa{
    border-radius: 100%;
  }